{% extends "base.html" %}
{% block title %}Add Bus Stop{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    {% if time_to_add %}
        <p>Подождите ещё: {{ time_to_add }} sec</p>
    {% elif no_valid_data %}
        <p>Укажите остановку!!!</p>
    {% endif %}
    <form method="post" action="" id="main_form">
        <h4>Города</h4>
        <div style="display: flex">
            <div style="padding-right: 1%">
                <label for="brest">Brest</label>
                <input type="radio" id="brest" name="city" value="brest" required>
            </div>
            <div style="padding-right: 1%">
                <label for="gomel">Gomel</label>
                <input type="radio" id="gomel" name="city" value="gomel" required>
            </div>
            <div style="padding-right: 1%">
                <label for="grodno">Grodno</label>
                <input type="radio" id="grodno" name="city" value="grodno" required>
            </div>
        </div>
        <h4>Тип остановки</h4>
        <div style="display: flex">
            <div style="padding-right: 1%">
                <label for="dirty">Dirty</label>
                <input type="radio" id="dirty" name="type_bus_stop" value="dirty" required>
            </div>
            <div style="padding-right: 1%">
                <label for="clean">Clean</label>
                <input type="radio" id="clean" name="type_bus_stop" value="clean" required>
            </div>
        </div>
        <div>
            <select class="form-control" id="default_section">
                <option>Выберите город</option>
            </select>
        </div>
        <div style="display: none">
            <select class="form-control" id="brest_section">
                <option>Выберите город</option>
                {% for bus_stop in bus_stops[0] %}
                    <option value="{{ bus_stop }}">{{ bus_stop }}</option>
                {% endfor %}
            </select>
        </div>
        <div style="display: none">
            <select class="form-control" id="gomel_section">
                <option>Выберите город</option>
                {% for bus_stop in bus_stops[1] %}
                    <option value="{{ bus_stop }}">{{ bus_stop }}</option>
                {% endfor %}
            </select>
        </div>
        <div style="display: none">
            <select class="form-control" id="grodno_section">
                <option>Выберите город</option>
                {% for bus_stop in bus_stops[2] %}
                    <option value="{{ bus_stop }}">{{ bus_stop }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit">Добавить</button>
    </form>
    <script>
        const $ = (selector) =>  document.querySelector(selector);
        const selectField = 'bus_stop';
        let selectId = `#default_section`;
        $('#main_form').addEventListener('click', evt => {
            const {target} = evt;
            if (!target.type) return;
            if (target.type !== 'radio') return;
            if (target.name === 'type_bus_stop') return;
            if (selectId) {
                $(selectId).parentNode.style.display = 'none';
                $(selectId).setAttribute('name', '');
            }
            selectId = `#${target.getAttribute('id')}_section`;
            $(selectId).parentNode.style.display = 'block';
            $(selectId).setAttribute('name', selectField);
        });
    </script>
{% endblock %}
