{% extends "base.html" %}
{% block title %}Create Account{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    {% if not_valid_email %}
        <p style="text-align: center">Укажите верный email!</p>
    {% endif %}
    {% if user_exists %}
        <p style="text-align: center">Username или email заняты!</p>
    {% endif %}
    <form class="p-4" method="POST" action="{{ request.url }}" style="background-color: #f5f5f5; border-radius: 5px; margin: 25% 20%;">
        {{ csrf_token }}
        <div class="form-group">
            <label for="login">Login</label>
            <input type="text" class="form-control" id="login" placeholder="login" name="login" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" placeholder="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="password" name="password" required>
        </div>
        <div class="form-group">
            <a href="{{ request.url_for('login') }}">Login</a>
        </div>
        <button type="submit" class="btn btn-info btn-lg btn-block">Create</button>
    </form>
{% endblock %}
