{% extends "base.html" %}

{% block title %}Profile{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    {% if user.is_activatet %}
        <div style="background-color: #f3f3f3; border-radius: 5px; margin: 5% 30%">
            <p class="h1 text-center" >Привет {{user.user_name}}</p>
            <div class="text-center">
                <p>Дата регистрации: {{ user_create_at }}</p>
                <p>Ваше имя: {{ user.user_name }}</p>
                <p>Email: {{ user.email }}</p>
            </div>
            <div>
                <a href="{{ request.url_for('logout') }}">Выйти из аккаунта</a>
                <a href="{{ request.url_for('refresh_password') }}">Поменять пароль</a>
                <a href="{{ request.url_for('add_bus_stop') }}">Добавить остановку</a>
            </div>
        </div>
    {% else %}
        <p style="text-align: center">Подтвердите вашу почту!!!</p>
    {% endif %}
{% endblock %}