<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>
            {% block title %}{% endblock %}
        </title>
        <style>
            body {
                background: #64717c;
            }
        </style>
    {% endblock %}
</head>
<body>
<footer>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">AntiController</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/transport">Home</a>
                {% if request.cookies.get("Authorization") %}
                    <a class="nav-item nav-link" href="{{ request.url_for('profile') }}">Profile</a>
                {% else %}
                    <a class="nav-item nav-link" href="{{ request.url_for('login') }}">Login</a>
                {% endif %}
                <a class="nav-item nav-link" href="{{ request.url_for('all_stop') }}">All data</a>
                <a class="nav-item nav-link" href="/docs">API</a>
            </div>
        </div>
    </nav>
</footer>
<div class="container-sm">
    {% block body %}
    {% endblock %}
</div>
</body>
</html>